<html>
    <head>
        {% load staticfiles %}  
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.theme.min.css" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="{% static 'js/jquery-ui-1.11.4.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/jsbarcode/3.3.14/JsBarcode.all.min.js"></script>
        <style>
            p.pic {
                    width: 160px;
                    margin: 0 auto;
                    }
            .borderless tr td {
                    border: none !important;
                    padding: 0px !important;
                    }
            .borderline{
                    border-bottom:2px solid black;
                    }   
                    
            .groove {border-style: groove;}
            table {border-collapse: collapse;}
            #gross_total{
                border-collapse: collapse;
                
            }
            .borders{
                 border: 1px solid black;
            }
            body{ border: 1px solid black; }

        </style>
    </head>

    <body>
        <div class="container">
           <section class="content-header">
                <!-- <ol>
                    <p class="pic"><img src="{% static 'images/logo-uni.png' %}" width =200 height =40 align="middle"><i class="fa fa-dashboard"></i></p>
                </ol> -->
                <br>
                <div class="row">
                    <div class="text-center">
                        <img src="{% static 'images/logo-uni.png' %}" width =200 height =40><i class="fa fa-dashboard"></i>
                    </div>
                </div>
            </section>
            <br>
            <div class="row">
                <div class="table-responsive"> 
                    <table class="table table-bordered table-condensed">
                        <col width="500">
                        <col width="500">
                        <tr>
                            <td><b>Invoice No: 101</b></td>
                            <td><b>Dated: 20/6/2017</b></td>
                        </tr>
                        <tr>
                            <td>
                                <h4><b>Unimax Enterprises</b></h4>
                                <p>562/6, Nirnal Heights Congress Bhavan Road,<br>Shivajinagar Pune-411005 <br> Maharashtra.</p>
                            </td>
                            <td>
                                <p>Buyer</p>
                                <h4><b>XYZ Pvt.Ltd</b></h4>
                                <p>12th Floor, Building No-8-C<br> DLF Cyber City Phase-2 <br> Khardi Pune-411052 <br> Maharashtra </p>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-bordered table-condensed" style="margin-top:-22px;">
                        <tr>
                            <td><b>Sr No.</b></td>
                            <td><b>Description Of Goods</b></td>
                            <td><b>Quantity</b></td>
                            <td><b>Rate</b></td>
                            <td><b>Amount</b></td>
                        </tr>
                        <tr height='450'>
                            <td>
                                <b>1</b><br>
                                <b>2</b><br>
                                <b>3</b>
                            </td>
                            <td>
                                <b>Pipe 1 inch </b><br>
                                <b>Pipe 1/2 inch</b><br>
                                <b>Pipe 3 inch </b>
                            </td>
                            <td>
                                <b>2</b><br>
                                <b>3</b><br>
                                <b>4</b>
                            </td>
                            <td>
                                <b>400.00</b><br>
                                <b>250.00</b><br>
                                <b>700.00</b>
                            </td>
                            <td>
                                <b>800.00</b><br>
                                <b>750.00</b><br>
                                <b>2800.00</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="right"><b>Total</b></td>
                            <td><b>4350.00</b></td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <p>Amount Chargeable (in words)</p>
                                <h4><b>Indian Rupees Four Thousand Three Hundred and Fifty Only.</b></h4><br><br><br><br>
                                <p>
                                    <b>Company's Service Tax No: AADCK7606GSD002</b><br>
                                    <b>Company's PAN: AADCK7606G</b>
                                </p>
                            </td>
                        </tr>
                        <tr>
                           <td colspan="2">
                               <p>Declartion: We declare that this invoice shows the actual price of the goods described and that  all particulars are true and correct.<br>All the above amount is inclusive of tax</p>
                           </td>
                           <td colspan="3">
                               <p align="right"><b>For Unimax Enterprises.</b></p><br><br><br>
                               <p align="right">Authorised Signature</p>
                           </td> 
                        </tr>
                    </table>
                    <p align="middle">This is Computer Generated Invoice.</p>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            $(document).ready(function(){
                var currentUrl = window.location.href;
                var temp = currentUrl.split('?');
                var url_data = temp[1].split("!");
                var delivery_by = url_data[2];
                var order_id = url_data[3];
                var barcodes = (url_data[0].split('$')).slice(0, -1);
                var quantity = (url_data[1].split('#')).slice(0, -1);

                $.ajax(
                      {
                            type: 'post',
                            url: "{{warehouse_service_url}}"+"invoice/",
                            headers: {'X-Authorization-Token' : "{{request.session.userservice_key}}"},
                            dataType: 'json',
                            data: JSON.stringify({
                                                    'order_id': order_id,
                                                    'barcodes': barcodes,
                                                    'quantity': quantity,
                                                    'delivery_by': delivery_by   
                                                    }),
                            success : function(data)
                            {
                                console.log(data);
                                if(data['responseData']){
                                    result = data['responseData'];
                                }
                                else{
                                    result = data;  
                                }
                              // swal({
                              //   title: "Success!!!",
                              //   text: result['responseData'],
                              //   type: "success",
                              //  },
                              // function(){
                              //   location.reload();
                              // });
                            },
                            error : function(error)
                            {
                                window.alert(error);
                            },
                        });
            });
        </script>
    </body>
</html>