<html>
    <head>
        {% load staticfiles %}  
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.theme.min.css" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="{% static 'js/jquery-ui-1.11.4.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/jsbarcode/3.3.14/JsBarcode.all.min.js"></script>
        <style>
            p.pic {
                    width: 160px;
                    margin: 0 auto;
                    }
            .borderless tr td {
                    border: none !important;
                    padding: 0px !important;
                    }
            .borderline{
                    border-bottom:2px solid black;
                    }   
                    
            .groove {border-style: groove;}
            table {border-collapse: collapse;}
            #gross_total{
                border-collapse: collapse;
                
            }
            .borders{
                 border: 1px solid black;
            }
            body{ border: 1px solid black; }

        </style>
    </head>

    <body>
        <div class="container">
           <section class="content-header">
                <!-- <ol>
                    <p class="pic"><img src="{% static 'images/logo-uni.png' %}" width =200 height =40 align="middle"><i class="fa fa-dashboard"></i></p>
                </ol> -->
                <br>
                <div class="row">
                    <div class="text-center">
                        <img src="{% static 'images/logo-uni.png' %}" width =200 height =40><i class="fa fa-dashboard"></i>
                    </div>
                </div>
            </section>
            <br>
            <div id="error_data"></div>
            <div id="invoice_data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive"> 
                            <table class="table table-bordered table-condensed">
                                <col width="500">
                                <col width="500">
                                <tr>
                                    <td id='invoice_no'></td>
                                    <td id='dated'></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4><b>Unimax Enterprises</b></h4>
                                        <p>562/6, Nirnal Heights Congress Bhavan Road,<br>Shivajinagar Pune-411005 <br> Maharashtra.</p>
                                    </td>
                                    <td id="address"></td>
                                </tr>
                            </table>
                            <table class="table table-bordered table-condensed" style="margin-top:-22px;">
                                <tr>
                                    <td><b>Sr No.</b></td>
                                    <td><b>Description Of Goods</b></td>
                                    <td><b>Quantity</b></td>
                                    <td><b>Rate</b></td>
                                    <td><b>Amount</b></td>
                                </tr>
                                <tr height='450'>
                                    <td id="sr_no"></td>
                                    <td id="item"></td>
                                    <td id="qty"></td>
                                    <td id="unit_price"></td>
                                    <td id="total_price"></td>
                                </tr>
                                <tr>
                                    <td colspan="4" align="right"><b>Discount</b></td>
                                    <td id="discount"></td>
                                </tr>
                                <tr>
                                    <td colspan="4" align="right"><b>Total</b></td>
                                    <td id="grand_total"></td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <p>Amount Chargeable (in words)</p>
                                        <h4 id="amt_words"></h4>
                                        <br><br><br><br>
                                        <p>
                                            <b>GST No: AADCK7606GSD002</b><br>
                                            <b>Company's PAN: AADCK7606G</b>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                   <td colspan="2">
                                       <p>Declartion: We declare that this invoice shows the actual price of the goods described and that  all particulars are true and correct.<br>All the above amount is inclusive of tax</p>
                                   </td>
                                   <td colspan="3">
                                       <p align="right"><b>For Unimax Enterprises.</b></p><br><br><br>
                                       <p align="right">Authorised Signature</p>
                                   </td> 
                                </tr>
                            </table>
                            <p align="middle">This is Computer Generated Invoice.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            $(document).ready(function(){
                var currentUrl = window.location.href;
                var temp = currentUrl.split('?');
                var url_data = temp[1].split("!");
                var delivery_by = url_data[2];
                var order_id = url_data[3];
                var barcodes = (url_data[0].split('$')).slice(0, -1);
                var quantity = (url_data[1].split('#')).slice(0, -1);
                $("#error_data").hide();
                $.ajax(
                      {
                            type: 'post',
                            url: "{{warehouse_service_url}}"+"invoice/",
                            headers: {'content_type':'application/json',
                                        'X-Authorization-Token' : "{{request.session.userservice_key}}"},
                            dataType: 'json',
                            data: JSON.stringify({
                                                    'order_id': order_id,
                                                    'barcodes': barcodes,
                                                    'quantity': quantity,
                                                    'delivery_by': delivery_by   
                                                    }),
                            success : function(data)
                            {
                                console.log(data);
                                if(data['responseData']){
                                    result = data['responseData'];
                                }
                                else{
                                    result = data;  
                                }
                                if(result['responseCode']){
                                    $("#invoice_data").hide();
                                    $("#error_data").show();
                                    $("#error_data").html("<div class='well'><div class='text-center' style='color:red;'><h4>"+result['Message']+"</h4><h4>Please Check that barcode you have scanned is correct.</h4></div></div>");
                                }
                                else{
                                    populate_invoice(result);
                                }
                              // swal({
                              //   title: "Success!!!",
                              //   text: result['responseData'],
                              //   type: "success",
                              //  },
                              // function(){
                              //   location.reload();
                              // });
                            },
                            error : function(error)
                            {
                                window.alert(error);
                            },
                        });
            });

            function populate_invoice(result){
                console.log(result);
                $("#invoice_no").html("<b>Invoice No. </b>"+ result['order_id']);
                $("#dated").html("<b>Dated: </b>"+ result['created_on']);
                $("#address").html("<p>Buyer</b><h4><b>"+result['client_name']+"</b></h4><p>"+result['address_line1']+"<br>"+result['area']+"<br>"+result['city']+"-"+result['pincode']+" "+result['state']+"<br>Mobile: "+result['phone']+"</p>");
                for(i=0;i<result['itemresponse'].length;i++){
                    $("#sr_no").append("<b>"+(i+1)+"</b><br>");
                    $("#item").append("<b>"+result['itemresponse'][i]['itemname']+"</b><br>");
                    $("#qty").append("<b>"+result['itemresponse'][i]['quantity']+"</b><br>");
                    $("#unit_price").append("<b>"+result['itemresponse'][i]['selling_price']+"</b><br>");
                    $("#total_price").append("<b>"+result['itemresponse'][i]['total_product_price']+".0</b><br>");
                }
                $("#item").append("<br><br><br>");
                $("#total_price").append("<br><br><br>");
                for(j=0;j<result['tax'].length;j++){
                    $("#item").append("<h5 align='right'><b>GST for item "+(j+1)+" @ "+result['tax_percent'][j]+"%</b></h5>");
                    $("#total_price").append("<h5><b>"+result['tax'][j]+".0</b></h5>");
                }
                $("#discount").html("<b>"+result['discount']+"</b>");
                $("#grand_total").html("<b>"+result['total_amount_str']+".0</b>");
                $("#amt_words").html("<b>Indian Rupees "+result['amt_in_words']+" Only.</b>");
            }
        </script>
    </body>
</html>