<html>
	<head>
		{% load staticfiles %}
		<title>Unimax</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/krishi_favicon.png' %}"/> -->
		<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/menubar_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4.min.js' %}"></script>

    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <!-- <script src="{% static 'js/jquery.canvasjs.min.js' %}"></script> -->
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script> 	

  </head>
	<body>
		<div class="navbar-wrapper">
    		<div class="container-fluid">
        		<nav class="navbar navbar-fixed-top">
            		<div class="container">
                		<div class="navbar-header">
                    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          						<span class="icon-bar"></span>
          						<span class="icon-bar"></span>
          						<span class="icon-bar"></span>                        
      						</button>
                    		<a class="navbar-brand" href="/erp/"><img src="{% static 'images/logo-uni.png' %}" align="left" height="40px" width="150px" style="margin-top:-5px;" class="img-responsive"></a>
                		</div>
                		<div id="navbar" class="navbar-collapse collapse">
                    		<ul class="nav navbar-nav">
                        		<li><a href="/erp/client/search/"><strong>Client</strong></a></li>
                        		<li><a href="/erp/catalog/view"><strong>Products</strong></a></li>
                        		<li><a href="/erp/salesorder/search/"><strong>Orders</strong></a></li>
                        		<!-- <li><a href="/erp/salesorder/calls/"> <strong>Manage Calls</strong></a></li> -->
                            <li><a href="/erp/client/schedule_calls/"> <strong>Scheduled Calls</strong></a></li>
                            <li><a href="/operations/"> <strong>Operations</strong> </a></li>
                            <li><a href="/warehouse/"> <strong>Warehouse</strong> </a></li>
                            <!-- {% if operation_user %} -->
            						    
          						      <!-- {% endif %} -->
          						      {% for group in user.groups.all %}
                              {% if group.name == 'csrlead' %}
                                <li><a href="/operational_dashboard/"> <strong>Operations</strong> </a></li>
              							    <li><a href="/warehouse_dashboard/"> <strong>Warehouse</strong> </a></li>
                                <!-- <li><a href="/erp/quickbooks/"> <strong>Quickbooks</strong> </a></li> -->
          						        {% endif %}
                            {% endfor %}
          						
                        	</ul>
                    		<ul class="nav navbar-nav pull-right">
                        		<li><a href="/logout/"><strong><span class="glyphicon glyphicon-log-out"></span>Logout</strong></a></li>
                    		</ul>
                		</div>
            		</div>
        		</nav>
    		</div>
		</div>

    {% block content %}
    {% endblock %}
  </body>
</html>