
    {% extends 'base.html' %}
    {% load staticfiles %}
    {% block content %}
    <style type="text/css">
      form {
          padding-left: 20px;
          padding-right: 10px;
      }
      .row > label {
        width:12%;
      }
      #mobile_numbers {
          margin-left:120px;
      }
      #whatsapp_numbers {
          margin-left:120px;
      }
      #landline_numbers {
          margin-left:120px;
      }
      .pp {
        color: #54cff8 !important;
      }
      #related_farmers{
          overflow:hidden;
          overflow-y:scroll;
          height:170px;
          font-size:13px;
        }
    </style>

    <div class="container" style="margin-top:90px;">
        <form class="form-horizontal" method="post" action="">
        <fieldset>
          {% csrf_token %}
        <div id="edit_client" style="display:none"></div>
        <div class="row">
          <div class="col-md-2 panel panel-heading pp">Contact Information</div>
        </div>
        
        <div class="row form-group">
          <label class="col-md-1 control-label" for="client_name">Name</label>  
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="client_name" name="client_name" placeholder="" class="form-control input-md" type="text">
            </div>
          </div>
        </div>

        <div class="row form-group">
          <label class="col-md-2 control-label" for="mobile">Mobile No.</label>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
              <input id="mobile" maxlength="10" name="mobile" placeholder="xxxxxxxxxxxx" class="form-control input-md ac_mobile" type="number" value={{mobile}}>
            </div>
          </div>
            
          <div class="col-md-1">
            <a id="add_mobile" onclick=add_mobile()><i class="glyphicon glyphicon-plus"></i></a>
          </div>  
          <div class="col-md-6" id="mobile_numbers"></div>
        </div>
        
        <!-- <div class="row form-group">
          
        </div> -->

        <div class="row form-group">
          <label class="col-md-2 control-label" for="whatsapp">Whatsapp No.</label>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
              <input id="whatsapp" maxlength="10" name="whatsapp" placeholder="xxxxxxxxxxxx" class="form-control input-md ac_mobile" type="number" value={{mobile}}>
            </div>
          </div>
            
          <div class="col-md-1">
            <a id="add_whatsapp" onclick=add_whatsapp()><i class="glyphicon glyphicon-plus"></i></a>
          </div>
          <div class="col-md-6" id="whatsapp_numbers"></div> 
        </div>

        <!-- <div class="row form-group">
          
        </div> -->

        <div class="row form-group">
          <label class="col-md-2 control-label" for="landline">Landline No.</label>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
              <input id="landline" maxlength="11" name="landline" placeholder="xxxxxxxxxxxxx" class="form-control input-md ac_mobile" type="number" value={{mobile}}>
            </div>
          </div>
            
          <div class="col-md-1">
            <a id="add_landline" onclick=add_landline()><i class="glyphicon glyphicon-plus"></i></a>
          </div>
          <div class="col-md-6" id="landline_numbers"></div>
        </div>

        <!-- <div class="row form-group">
          
        </div> -->
        <div class="row">
            <div class="col-md-2 panel panel-heading pp">Address Information</div>
        </div>  
        <div id="address_error" class="text-center" style="color: red;"></div>
        <div class="row form-group">
          <label class="col-md-1 control-label" for="address_line1">Address Line 1</label>
          <div class="col-md-2">
            <textarea class="form-control" rows="2" cols="15" id="address_line1" name="address_line1" placeholder="Addess Details..."></textarea>
          </div>

          <label class="col-md-1 control-label" for="area">Area</label>
          <div class="col-md-2">
            <input id="area" name="area" placeholder="" class="form-control input-md" required="" type="text">
          </div>

          <label class="col-md-1 control-label" for="city">City</label>  
          <div class="col-md-2">
            <input id="city" name="city" placeholder="" class="form-control input-md" required="" type="text">
          </div>
        </div>

        <div class="row form-group">
          <label class="col-md-1 control-label" for="pin_code">Pin Code</label>  
          <div class="col-md-2">
            <input id="pin_code" name="pin_code" placeholder="" class="form-control input-md" required="" type="text">
          </div>

          <label class="col-md-1 control-label" for="state">State</label>  
          <div class="col-md-2">
            <input id="state" name="state" placeholder="" class="form-control input-md" required="" type="text">
          </div>
          
          <label class="col-md-1 control-label" for="country">Country</label>  
          <div class="col-md-2">
            <input id="country" name="country" placeholder="" disabled="true" class="form-control input-md" value="India" type="text">
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-md-8 text-center">
            <input  type = "button" id="save_client" class="btn btn-large btn-primary" value="Save Client Information" /> 
            <button class="btn btn-large btn-danger" type="button" onclick=history.go(-1)> Cancel </button>
          </div>
        </div>
        </fieldset>
        </form>
      </div>
      <!-- <script src="{% static 'js/autocomplete.js' %}"></script> -->
      <script src="{% static 'js/common.js' %}"></script>
      <script src="{% static 'js/create_client.js' %}"></script>
      
      <script type="text/javascript">
        $(document).ready(function (){
          var availableTags = ["Andaman and Nicobar Islands","Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh","Chhattisgarh","Dadra and Nagar Haveli","Daman and Diu","Delhi","Goa","Gujarat","Haryana","Himachal Pradesh",
            "Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Lakshadweep","Madhya Pradesh","Maharashtra","Manipur",
            "Meghalaya","Mizoram","Nagaland","Odisha","Puducherry","Punjab","Rajasthan","Sikkim","Tamil Nadu","Tripura",
            "Uttar Pradesh","Uttarakhand","West Bengal"];
          $( "#state" ).autocomplete({
              source: availableTags
          });

          $("#save_client").click(function(){
            var mobileNumbers = get_mobile_info('mob');
            var whatsappNumbers = get_whatsapp_info("whatsapp");
            var landlineNumbers = get_landline_info("landline");
            
            var client_name = $("#client_name").val().trim();
            
            if (client_name == ''){
                swal('Please enter Name ');
                $("#client_name").focus();
                return false;
            }

            var mobile_no = $('#mobile').val().trim();
            if (mobileNumbers.length == 0 && validateMobileNumber(cleanMobileNumber(mobile_no))){
                if (confirm(mobile_no + " - Do you want to add this number and then Save ?")){
                    $("#add_mobile").click();
                    mobileNumbers = get_mobile_info('mob');
                };
            };

            if (mobileNumbers.length == 0){
                if (mobile_no == ""){
                    swal('Please enter at least 1 contact number');
                }
                else{
                    swal("Please enter valid number")
                }
                $("#mobile").focus();
                return false;
            }
            
            var whatsapp_no = $('#whatsapp').val().trim();
            if (whatsappNumbers.length == 0 && validateMobileNumber(cleanMobileNumber(whatsapp_no))){
                if (confirm(whatsapp_no + " - Do you want to add this number and then Save ?")){
                    $("#add_whatsapp").click();
                    whatsappNumbers = get_whatsapp_info('whatsapp');
                };
            };

            var landline_no = $('#landline').val().trim();
            if (landlineNumbers.length == 0 && validateMobileNumber(cleanMobileNumber(landline_no))){
                if (confirm(landline_no + " - Do you want to add this number and then Save ?")){
                    $("#add_landline").click();
                    landlineNumbers = get_landline_info('landline');
                };
            };
            
            var address_check = check_address_fields();
            if (address_check == false){
                return false;
            }

            json = ConvertFormToJSON("form");
//            json["pin_code"] = $("#pin_code").val();

            var contactInformation = {}
            contactInformation['mobile'] = mobileNumbers;
            contactInformation['whatsapp'] = whatsappNumbers;
            contactInformation['landline'] = landlineNumbers;
            json["contactInformation"] = contactInformation;

            farmer_id = $("#edit_farmer").text();
            if (farmer_id){
                request_type = 'put';
                json['farmer_id'] = farmer_id;
            }
            else {
                request_type = 'post';
            }
        console.log(json);
        console.log(request_type);
            // $.ajax(
            // {
            //     url: "{{client_service_url}}" + "clientdetails/",
            //     type: request_type,
            //     headers: {
            //         'Content-Type': 'application/json',
            //         'X-Authorization-Token':"{{request.session.userservice_key}}"
            //     },
            //     data: JSON.stringify(json),
            //     success : function(data)
            //     {
            //         console.log(data);
            //         // if (data.responseData.farmer_id){
            //         //   window.location = '/crm/farmer/view/' + data.responseData.farmer_id;
            //         // }
            //         // else {
            //         //     swal(data.responseData);
            //         // }
            //     },
            //     error : function(data)
            //     {
            //         alert("Something Went Wrong !");
            //     },
            // });
            return false;
        });

      });
      
      </script>
      {% endblock %}